[Desktop Entry]
Encoding=UTF-8
Name=Retrex
Comment=Retrex P2P Cryptocurrency
Comment[fr]=Retrex, monnaie virtuelle cryptographique pair à pair
Comment[tr]=Retrex, eşten eşe kriptografik sanal para birimi
Exec=retrex-qt %u
Terminal=false
Type=Application
Icon=retrex128
MimeType=x-scheme-handler/retrex;
Categories=Office;Finance;
